* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}


/* header Section */
.header {
  /* position: fixed; */
  top: 0;
  left: 0;
  /* margin: auto; */
  width: 100%;
}
.logo {
  height: 75px;
  width: auto;
  border-radius: 5px;
}

/* -----------------banner--------------- */
.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../images/bg.jpg);
    background-size: cover;
}



nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e0a5;
  padding-right: 30px;

}

.nav-bar {
  margin-left: auto;
}
.nav-bar a {
  margin: 5px;
  margin-right: 10px;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1.5px;
  font-size: 20px;
  color: black;
}

section {
  height: 700px;
  width: auto;
  background-color: antiquewhite;
}
